
@{
    ViewBag.Title = "Không tìm thấy trang";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="bg-white p-2 rounded-10 text-center">
    <h2 class="pt-3 fw-bold text-danger">404 Không tìm thấy trang</h2>
    <h3>Không tìm thấy trang mà bạn yêu cầu!</h3>
    <div class="text-danger text-center m-auto fw-bold">
        <img src="//theme.hstatic.net/200000823693/1001172883/14/back.png?v=978" alt="Quay lại trang chủ">
        <span>Quay lại trang chủ <span id="countdown-timer"></span></span>
    </div>
</div>