
@{
    ViewBag.Title = "Hệ thống chi nhánh";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="login-nav-top mt-5 mt-lg-0">
    <div class="container">
        <ul class="mt-3 mt-lg-0">
            <li>
                <a href="<?php echo base_url('/'); ?>">Trang chủ</a>
            </li>
            <li>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="">Hệ thống chi nhánh</a>
            </li>
        </ul>
    </div>
</div>
<div class="container bg-white p-3 rounded-3 my-3">
    <p class="text-color fw-bold fs-4">Hệ thống chi nhánh</p>
    <div class="row">
        <div class="col-6 col-sm-6 col-md-3 mb-3">
            <div class="item_nb p-3 b_1 position-relative">
                <p class="tt m-0 text-white">
                    Cửa hàng
                </p>
                <p class="bt fw-bold m-0 text-white fs-4">
                    45
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3 mb-3">
            <div class="item_nb p-3 b_2 position-relative">
                <p class="tt m-0 text-white">
                    Tỉnh/Thành
                </p>
                <p class="bt fw-bold m-0 text-white fs-4">
                    2+
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3 ">
            <div class="item_nb p-3 b_3 position-relative">
                <p class="tt m-0 text-white">
                    Đối tác
                </p>
                <p class="bt fw-bold m-0 text-white fs-4">
                    15+
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3 ">
            <div class="item_nb p-3 b_4 position-relative">
                <p class="tt m-0 text-white">
                    Nhân sự
                </p>
                <p class="bt fw-bold m-0 text-white fs-4">
                    200+
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-8">
            <iframe class="w-100 rounded-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.2265949595003!2d109.1944635748284!3d12.232930988018685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317067ef189c9d5d%3A0xa76f48558e149c9b!2sVinpearl%20Beachfront%20Nha%20Trang!5e0!3m2!1svi!2s!4v1715184863466!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

