
@{
    ViewBag.Title = "Mật khẩu mới";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="login-nav-top mt-5 mt-lg-0">
    <div class="container">
        <ul class="mt-3 mt-lg-0">
            <li>
                <a href="index.html">Trang chủ</a>
            </li>
            <li>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="login.html">Mật khẩu mới</a>
            </li>
        </ul>
    </div>
</div>
<div class="form-both">
    <div class="container bg-white p-4 rounded-2 mb-3">
        <div class="row">
            <div class="col-lg-8 col-12 mb-3">
                <div class="login w-100">
                    <h3 class="fw-bold text-color text-center">Cập nhật lại mật khẩu</h3>
                    <form method="post" action="/NewPass/Index">
                        @if (TempData["error"] != null)
                        {
                            <div class="alert alert-danger">
                                @TempData["error"]
                            </div>
                        }
                        @if (TempData["success"] != null)
                        {
                            <div class="alert alert-success">
                                @TempData["success"] <a href="/dangnhap" class="text-decoration-none fw-bold"> đăng nhập ngay!</a>
                            </div>
                        }
                        <div class="login-form-control">
                            <p class="text-danger mb-2 error-login"></p>
                            <input type="text" class="rounded-2 mb-2 email-login w-100" placeholder="Nhập email" name="email" value="@ViewBag.Email">
                            <input type="hidden" name="token" value="@ViewBag.Token">
                            <input type="password" class="rounded-2 mb-2 email-login w-100" placeholder="Nhập new password" name="password">
                            <input type="password" class="rounded-2 mb-2 email-login w-100" placeholder="Nhập new re-password" name="repassword">
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <button class="btn-login btn btn-danger">Cập nhật</button>
                            <a href="/dangnhap" class="text-decoration-none text-color fw-bold">Quay lại</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <h3>Đăng ký</h3>
                <p class="p-3 border border-dark rounded-3">Tạo tài khoản để quản lý đơn hàng, và các thông tin thanh toán, gửi hàng một cách đơn giản hơn.</p>
                <a href="/dangki" class="btn btn-danger d-block">Tạo tài khoản</a>
            </div>
        </div>
    </div>
</div>
