
@{
    ViewBag.Title = "Black Friday là ngày nào?";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div>

    <div class="banner con">
        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:1920:/q:100/plain/https://cellphones.com.vn/media/catalog/product/h/e/header_teasing_desk.png" />
    </div>

    <div class="bg-black d-flex align-items-center justify-content-center">
        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:1200:0/q:90/plain/https://cellphones.com.vn/media/catalog/product/b/f/bf2024_calendar_sale-desk.png" />
    </div> 
    <div class="bg-black d-flex align-items-center justify-content-center">
        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:1200:0/q:90/plain/https://cellphones.com.vn/media/catalog/product/b/f/bf2024_calendar_sale-desk.png" />
    </div>    
    <div class="bg-black d-flex align-items-center justify-content-center">
        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:1200:0/q:90/plain/https://cellphones.com.vn/media/catalog/product/b/f/bf2024__deal_store-desk.png" />
    </div>
</div>
