
@{
    ViewBag.Title = "Đăng kí";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="login-nav-top">
    <div class="container">
        <ul class="mt-5 mt-lg-0 pt-3 pt-lg-0">
            <li>
                <a href="index.html">Trang chủ</a>
            </li>
            <li>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="login.html">Đăng kí</a>
            </li>
        </ul>
    </div>
</div>
<div class="form-both mb-3">
    <div class="container bg-white p-4 rounded-2">
        <div class="row">
            <div class="col-lg-8">
                <h3>Đăng kí tài khoản</h3>
                <div class="login">
                    <form action="">
                        <p class="text-danger mb-2 error-register"></p>
                        <div class="login-form-control">
                            <div class="d-flex gap-4 w-100">
                                <div class="w-100">
                                    <span class="error-firstname text-danger"></span>
                                    <input type="text" class="rounded-2 mb-2 name-register" placeholder="Nhập Tên">
                                </div>
                                <div class="w-100">
                                    <span class="error-surename text-danger"></span>
                                    <input type="text" class="rounded-2 mb-2 firstname-register" placeholder="Nhập Họ">
                                </div>
                            </div>
                            <span class="error-mobile text-danger"></span>
                            <input type="text" class="rounded-2 mb-2 mobile-register" placeholder="Nhập Số Điện Thoại">
                            <span class="error-email text-danger"></span>
                            <input type="email" class="rounded-2 mb-2 email-register" placeholder="Nhập email">
                            <span class="error-address text-danger"></span>
                            <input type="text" class="rounded-2 mb-2 address-register" placeholder="Nhập address">
                            <span class="error-password text-danger"></span>
                            <input type="password" class="rounded-2 mb-2 password-register" placeholder="Nhập mật khẩu">
                            <input type="password" class="rounded-2 mb-2 repassword-register" placeholder="Nhập lại mật khẩu">
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <a href="" class="btn btn-danger d-block register-btn">Đăng kí</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 mt-3 mt-lg-0">
                <h3>Đăng nhập</h3>
                <p class="p-3 border border-dark rounded-3">Bạn đã có tài khoản, vui lòng ấn đăng nhập tại link bên dưới của chúng tôi. Hoặc các nút đăng nhập isocial.</p>
                <a href="/dangnhap" class="btn btn-danger d-block">Đăng nhập ngay</a>
            </div>
        </div>
    </div>
</div>
